body{
   background-color: rgb(25, 143, 131);
}
.custom-navbar-bg{
    background-color: rgb(246, 164, 62);
    color: whitesmoke;
}
.nav-link{
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    width: 4%;
}
.navbar-brand{
    font-size: 22px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:whitesmoke;
}
.navegacao-lateral{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 156, 75);
    width: 12%;
    height: 60rem;
    margin-top: 0px;
    margin-left: -75px;
}
.navegacao-principal{
    display: flex;
    flex-direction:row;
    background-color: rgba(223, 223, 223, 0.649);
    width: 68rem;
    border-radius: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    height: 100rem;
    margin-top: 0px;
}

.custom-offcanvas-bg{
    background-color: rgb(222, 156, 75);
    width: 300px;
}