body{
    background-color: rgb(25, 143, 131);
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cabecalho{
    margin-left: 10%;
    margin-top: none;
}
#header-content {
    display: flex;
}

#header-content h1 {
    margin-right: 12px; /* Espaço entre o h1 e a imagem */
}

#header-content img {
    max-width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

#modal-cadastro{
    background-color: bisque;
}
input{
    height: 35px;
    border-radius: 8px;
    border: 2px solid #8e8e8e82;
    display: flex;
    width: 65%;
    margin-left: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.login{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 164, 62);
    width: 40%;
    border-radius: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    height: 25rem;
    margin-left: 30%;
}
h2{
    text-align: center;
    margin-top: 5px;
    padding-top: 25px;
    font-size: 30pt;
}
.login button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    width: 35%;
    position: relative;
    margin-left: 34%;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.login button:hover {
    background-color: #45a049;
}
a#atualizar-senha{
    margin-left: auto;
    margin-right: 20px;
}
a#atualizar-senha{
    margin-left: auto;
    margin-right: 20px;
}
a#botao-cadastrar{
    margin-left: auto;
    margin-right: 20px;
}