.custom-container{
    background-color: rgb(25, 143, 131);
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    height: 100%;    
}

#cabecalho{
    margin-left: 10%;
    margin-top: none;
}
#conteudo-cabecalho {
    display: flex;
}

#conteudo-cabecalho h1 {
    margin-right: 20px; 
    margin-top: 20px;
}

#conteudo-cabecalho img {
    max-width: 60px; 
    height: 40px;
    margin-top: 26px;
}

#modal-cadastro{
    background-color: bisque;
}
.inputs{
    height: 35px;
    border-radius: 8px;
    border: 2px solid #8e8e8e82;
    display: flex;
    width: 65%;
    margin-left: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.custom-login{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 164, 62);
    width: 40%;
    border-radius: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    height: 25rem;
    margin-left: 30%;
}

h2{
    text-align: center;
    margin-top: 5px;
    padding-top: 25px;
    font-size: 30pt;
}
.custom-login button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    width: 35%;
    position: relative;
    margin-left: 34%;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.custom-login button:hover {
    background-color: #45a049;
}

a {
    margin-left: auto;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#atualizar-senha{
    color: rgb(25, 143, 131);
}
#link-cadastrar{
    color: rgb(25, 143, 131);
}

.custom-cancel-button {
    background-color: #747171; 
    color: white; 
    border: none;
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-left: -2px;
}
  
.custom-cancel-button:hover {
    background-color: rgb(76, 75, 75);
}
  
.custom-save-button {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-left: 158px;
    margin-right: 0px;
}
  
  .custom-save-button:hover {
    background-color: #388E3C; 
  }


  .custom-senha-button {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-left: 165px;
    margin-right: 0px;
  }
  .custom-senha-button:hover {
    background-color: #388E3C; 
  }
  